<h1>Henri's infamous luck bringer</h1>

<%= button_to "Add Contestant", "/contestants/new", method: :get %>
<%= button_to "View all Contestants", "/contestants", method: :get %>

<%= button_to "Generate Random Winner", "/bigwinnerenergy", method: :get  %>
